{% extends 'template_base.html' %}
{% block conteudo %}
{% load static %}

<container class="about">
    <span>
        <p class="about">
            <b style="font-size: 40px;">SmartBarber's - Sistema de Agendamento Online para barbearias</b>
            <br>
            Desenvolvido durante o Projeto Integrador realizado pela Univesp - 
            Universidade Virtual do Estado de São Paulo.
            <br>
            Essa plataforma visa organizar e agilizar o processo de agendamento entre
            clientes e o barbeiro, permitindo que o cliente tenha um atendimento mais rápido
            com horário reservado e o barbeiro tenha uma agenda organizada de todos os clientes
            que agendaram nas respectivas datas e horários disponíveis.
        </p>
    </span>
</container>


{% endblock %}