{% extends 'template_base.html' %}
{% block conteudo %}
{% load static %}
<br>

<div class="container" id="agendar_box">
    <span>EDITAR:</span><br><br><br>
    <form class="form-signin" action="{% url 'update' agendamentos.id %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Serviço:</label>
            <select class="form-select" id="inputGroupSelect01" name="servico" value="{{agendamentos.servico}}">
                <option selected>(selecione)</option>
                {% for servico in servicos %}
                <option value="{{ servico.servicos }}"> {{ servico.servicos }} </option>    
                {% endfor %} 
            </select>
        </div>
        <br>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Data:</label>
            <input class="input-group-text" type="date" name="data" id="data" value="{{agendamentos.data}}">
        </div>
        <br>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Horário:</label>
            <select class="form-select" id="" name="horario" required="true">
                <option selected>(selecione)</option>
                {% for horario in horarios %}
                <option value="{{ horario.horarios }}"> {{ horario.horarios }} </option>
                {% endfor %}            
            </select>
        </div>
        <br>

            <button class="btn btn-outline-primary" type="submit">Atualizar</button>
            <a href="{% url 'meusAgendamentos' %}"><button class="btn btn-outline-danger" type="button">Voltar</button></a>
    </form>
</div>


<script type="text/javascript">
    $(function(){
        var dtToday = new Date();
     
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
         day = '0' + day.toString();
        var maxDate = year + '-' + month + '-' + day;
        $('#data').attr('min', maxDate);
    });
    </script>




{% endblock %}